@import "tailwindcss";

body {
  background-color: white;
}

.animate-slide-up {
  animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDown 0.5s ease-in forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

.animate-spin-slow {
  animation: spinSlow 6s linear infinite;
}

@keyframes spinSlow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-pizza {
  animation: spinPizaa 20s linear infinite;
}

@keyframes spinPizaa {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logo-container {
  width: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.logo-container.visible {
  width: 40px;
  opacity: 1;
  transform: translateX(0);
}

.logo {
  width: 100%;
  height: auto;
  display: block;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}





.falling-logo {
  width: 192px;
  height: 192px;
  animation: fall 3s ease-in forwards;
  transform-origin: bottom center;
}

@keyframes fall {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

#loaud {
  /* From https://css.glass */
  background: rgba(136, 136, 136, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(136, 136, 136, 0.3);
}

#productDetalis {
  background: rgba(136, 136, 136, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(136, 136, 136, 0.3);
}